@implements IDisposable
@inject IShoppingCartService shoppingCartService
@inject IManageUserService manageUserService

<AuthorizeView Roles="Admin,User">
    <Authorized>
        <a href="ShoppingCart" class="btn btn-info">
            <i class="oi oi-cart"></i>&nbsp;Cart
            <span class="badge bg-dark">@shoppingCartItemCount</span>
        </a>
    </Authorized>
</AuthorizeView>


@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

}
