@inherits LayoutComponentBase
@inject IManageCartItemsLocalStorageService manageCartItemsLocalStorageService
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <CartMenu />
                <a @onclick="Logout" href="javascript:void(0)">Logout</a>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="Login">Login</a>
                </div>
            </NotAuthorized>

        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private async Task Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;
        await customAuthenticationStateProvider.UpdateAuthenticationState(null);
        await manageCartItemsLocalStorageService.RemoveCartId();
        navigationManager.NavigateTo("/");
    }
}